@import '../../styles/propertySets.css';

.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 64px;
  margin-bottom: 64px;
}

.steps {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step{
	padding: 30px;
	margin-bottom: 20px;
	background: #efefef;
	border-radius: 8px;
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
  
  &:hover {
    transform: scale(1.02);
    box-shadow: var(--boxShadowSectionLocationHover);
  }
}

.step:nth-child(2){
	background: #f0d298;
}

.step:nth-child(3){
	background: #00aa48;
	color: #FFF;
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

img{
	width: 100%;
	height: auto;
	max-width: 100%;
}

.step .label{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	color:#FFF;
	background: #e1a531;
	padding: 3px 10px;
	margin-bottom: 0px;
	border-radius: 8px;	
}

.step p{
	font-size: 14px;
	line-height: 24px;
}

.howLink{
	margin-right: 20px;
	display: inline;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 60px;
}



